html, body {
    @include font-smoothing;
    font-size: 62.5%; // 1rem = 10px
    transition: opacity 0.3s;
    @include cardo-regular();
}

*, *:before, *:after {
    box-sizing: border-box;
}

img, svg {
    max-width: 100%;
}

// Fade
.fade {
    opacity: 0;
    transform-origin: 0 50%;

    &.in {
        opacity: 1;
    }
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 4rem auto;
    padding: 0 2rem;
}