<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="css/index.css" type="text/css">
{#     
        <script src="https://use.typekit.net/fui6dxz.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
#}

    </head>    
    <body class="{{ body_class }}">

