{% include "components/header.twig" %}

<div class="container">

    {% include 'components/image.twig' with 
        {
            imgSrc: 'page1.jpg',
            imgAlt: 'While you are traveling on a diplomatic mission from Earth to the Mylaean Cluster, your spaceship is hit by a meteor.',
            caption: "While you are traveling on a diplomatic mission from Earth to the Mylaean Cluster, your spaceship is hit by a meteor."
        }
    %}

	{% include 'components/paragraph.twig' with 
		{
			paragraphCopy: "While you are traveling on a diplomatic mission from Earth to the Mylaean Cluster, your spaceship is hit by a meteor. With seconds to spare, you jettison in an escape pod, the only survivor. The pod's built-in computer indicates there is only enough fuel to reach Tenopia, the fifth planet of Star System Tenopia. The computer's memory bank supplies you with the following information:"
		}
 	%}
  	{% include 'components/blockquote.twig' with 
  		{
  			blockquoteCopy: "TENOPIA: a/s Earth size; rotation 26 hours; sun rises in the east, sets in west; revolution
587 days; air quality excellent; food and water abundant; surface 80% ocean with one large island (Tenopia Island) and a single continent (Kabran); ocean is subject to violent storms; galactic language widely spoken; technology generally medieval; travel
dangerous and not advised."
  		}
  	%}
  	<p>
		Bracing yourself for entry into Tenopia's atmosphere, you examine your only survival equipment: a pocket-sized computer that is programmed to project a map of your region at all times on a small video screen.  		
  	</p>
  	<p>
  		Suddenly, on the pod's computer, you read:
  	</p>
  	<blockquote>
  		Entry Phase: landing targeted near Krelia, west coast of Tenopia Island.
  	</blockquote>
  	<p>
  		A moment later the words "Teopia Island" appear, and this aerial view is displayed:
  	</p>
  	{% include 'components/navigation-link.twig' with 
  		{
  			left: true,
  			pageUrl: "1"
  		}
  	%}  	
	{% include 'components/navigation-link.twig' with 
		{
			right: true,
			pageNumber: '22',
			navigationLinkCopy: 'Go to page'
		}
	%}
</div>

{% include "components/footer.twig" %}
